<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="../../../playground/components/wrapper/PlaygroundWrapper.component.ts" type="module"></script>
		<link rel="stylesheet" href="../../../playground/playground.scss" />
		<script src="./Radio.component.ts" type="module"></script>
	</head>
	<body>
		<playground-wrapper component-name="Radio">
			<fieldset style="display: flex; flex-direction: column; gap: 0.5em">
				<legend>First Radio group</legend>
				<clean-radio name="group1">Radio 1</clean-radio>
				<clean-radio name="group1">Radio 2</clean-radio>
				<clean-radio name="group1" checked>Radio 3</clean-radio>
			</fieldset>

			<fieldset style="display: flex; gap: 0.5em; margin-block: 1rem">
				<legend>Second Radio group</legend>
				<clean-radio name="group2">Radio 1</clean-radio>
				<clean-radio name="group2">Radio 2</clean-radio>
				<clean-radio name="group2">Radio 3</clean-radio>
			</fieldset>
		</playground-wrapper>
	</body>
</html>
