@mixin menu-button_list-item-and-toggle {
	all: unset;
	box-sizing: border-box;
	appearance: none;
	margin: 0;
	padding: 0.2em 0.3em;
	border: none;
	background-color: var(--menu-bg-color);
	color: var(--menu-color);
}

@mixin menu-button_buttons {
	border: var(--menu-button__toggle_border);
	border-radius: 0.2em;

	&:focus-visible {
		// TODO: systematize color
		outline: 2px solid orangered;
	}
}

@mixin menu-button_split-menu-toggle {
	border-start-start-radius: 0;
	border-end-start-radius: 0;
	border-inline-start-width: 0;
}

@mixin menu-button_split-main {
	@include menu-button_list-item-and-toggle;
	@include menu-button_buttons;
	border-start-end-radius: 0;
	border-end-end-radius: 0;
}

*,
::before,
::after {
	box-sizing: border-box;
}

:host {
	--menu-color: var(--dark);
	--menu-bg-color: var(--light);

	--menu-button__default-borders: 0.1em solid var(--menu-color);
	--menu-button__toggle_border: var(--menu-button__default-borders, 0.1em solid var(--menu-color));
	--menu-button__list_border: var(--menu-button__default-borders);
	--menu-button__list-item_internal-border: 0.05em solid var(--menu-color);

	display: inline-block;
	position: relative;
}

:host([open-up]) [role="menu"] {
	inset-block-end: 100%;
}

[role="menu"] {
	padding: 0;
	margin: 0;
	width: max-content;
	min-width: 100%;
	border: var(--menu-button__list_border);
	border-radius: 0.2em;
	position: absolute;
	inset-inline-start: 0;

	&:focus-visible [part*="highlighted"],
	&:not(:focus-visible) :hover {
		// TODO: these are ridiculous variable names
		background-color: var(--menu-button_list-item--highlighted_bg-color, var(--menu-color));
		color: var(--menu-button_list-item--highlighted_color, var(--menu-bg-color));
	}
}

%menu-item-and-any-buttons {
	@include menu-button_list-item-and-toggle;
}

button {
	@extend %menu-item-and-any-buttons;
}

#toggle {
	@include menu-button_buttons;
}

:host([split]) {
	#toggle {
		@include menu-button_split-menu-toggle;
	}

	[role="menu"] {
		inset-inline: auto var(--offset, 0);
	}
}

[role="menuitem"] {
	@extend %menu-item-and-any-buttons;
	display: flex;
	width: 100%;
	border-inline: none;
	border-block: var(--menu-button__list-item_internal-border);
	background-color: var(--menu-bg-color);
	cursor: pointer;

	&:first-child {
		border-block-start: none;
	}

	&:last-child {
		border-block-end: none;
	}
}
