<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="../../../playground/components/wrapper/PlaygroundWrapper.component.ts" type="module"></script>
		<link rel="stylesheet" href="../../../playground/playground.scss" />
		<script src="./Toggle.component.ts" type="module"></script>
	</head>
	<body>
		<playground-wrapper component-name="Toggle">
			<h2>Default</h2>
			<!-- TODO: document pressed attribute/property -->
			<figure>
				<div class="fig-content-wrapper">
					<clean-toggle>Lights</clean-toggle>
					<clean-toggle mixed>Camera</clean-toggle>
					<clean-toggle pressed>Action</clean-toggle>
				</div>
			</figure>

			<h2>Styled</h2>
			<!-- TODO: document parts css variables -->
			<style>
				.styled::part(wrapper) {
					width: 5rem;
					height: 1.5rem;
				}

				.styled::part(switch thumb)::before {
					content: none;
				}

				.styled::part(switch) {
					--light: #7fffd4;
					--dark: #055333;
				}

				.styled::part(thumb) {
					--dark: #3008a0;
				}

				.even-sizing {
					flex: 1;
					justify-content: center;
				}
			</style>
			<figure>
				<div class="fig-content-wrapper">
					<clean-toggle class="styled">Lights</clean-toggle>
					<clean-toggle class="styled" mixed>Camera</clean-toggle>
					<clean-toggle class="styled" pressed>Action</clean-toggle>
				</div>
			</figure>

			<!-- TODO: document layout+direction attrs -->
			<h2>Lable layouts</h2>
			<figure>
				<div class="fig-content-wrapper">
					<div style="display: flex; justify-content: space-around">
						<clean-toggle>Default</clean-toggle>
						<clean-toggle column>Column</clean-toggle>
						<clean-toggle reversed column>Reversed column</clean-toggle>
						<clean-toggle reversed>Reversed</clean-toggle>
					</div>
				</div>
			</figure>

			<h2>Toggle direction</h2>
			<figure>
				<div class="fig-content-wrapper">
					<div style="display: flex; justify-content: space-around">
						<clean-toggle class="even-sizing">Default</clean-toggle>
						<clean-toggle class="even-sizing" vertical>Vertical</clean-toggle>
						<clean-toggle class="even-sizing" vertical column>Vertical column</clean-toggle>
					</div>
				</div>
			</figure>

			<script>
				document
					.querySelectorAll("clean-toggle")
					.forEach(toggle =>
						toggle.addEventListener("clean-toggle-change", ({ target, detail: { pressed, mixed } }) =>
							console.log({ target, pressed, mixed })
						)
					);
			</script>
		</playground-wrapper>
	</body>
</html>
