@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@450&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@250;350&display=swap");

*,
::before,
::after {
	box-sizing: border-box;
}

:root {
	--dark: #181e2c;
	--light: #f7f7f7;

	font-size: var(--root-font-size, 1.05em);
}

body {
	background-color: var(--light);
	color: var(--dark);
	width: 80rem;
	width: clamp(320px, 80rem, 90vw);
	font-family: "Mulish", sans-serif;
	font-weight: 250;
}

%headings {
	font-family: "Josefin Sans", sans-serif;
}

$heading-size: 1em;
@for $heading-level from 6 through 1 {
	$heading-size: $heading-size + (6 - $heading-level) * 0.1;
	h#{$heading-level} {
		@extend %headings;
		font-size: $heading-size;
	}
}

// I know this is breaking a rule, but I'm feeling confident
::part(page-heading) {
	@extend h1;
}

code {
	font-family: "Fira Code", monospace;
	font-size: 0.9em;
}

figure {
	border: 0.2em solid var(--dark);
	border-inline-start-width: 1em;
	border-radius: 0.2em;
	margin: 0;

	display: flex;
	flex-direction: column;

	width: clamp(320px, 100%, 80ch);

	figcaption {
		background-color: var(--dark);
		color: var(--light);
		padding: 0.3em 0;
	}

	.fig-content-wrapper {
		margin: 1em;
	}
}

dl {
	border: 0.2em solid var(--dark);
	border-radius: 0.2em;
	width: clamp(320px, 100%, 80ch);
}

dt {
	color: var(--light);
	background-color: var(--dark);
}

dt,
dd {
	padding: 0.1em 0.3em 0.4em;
}

.badge {
	padding: 0.2em 0.5em;
	border-radius: 1em;
	font-weight: 350;
	// TODO: systematize color
	background-color: var(--badge-color);
	display: inline-block;
	margin-block-end: 0.4em;
	border: 0.1em double var(--dark);

	&.string {
		// TODO: systematize color
		--badge-color: #eb5890;
	}

	&.number {
		// TODO: systematize color
		--badge-color: #61c5e4;
	}

	&.boolean {
		// TODO: systematize color
		--badge-color: #f182f5;
	}

	&.slot {
		// TODO: systematize color
		--badge-color: #63f5ee;
	}

	&.reflect {
		// TODO: systematize color
		--badge-color: #ade24b;
	}

	&.matching {
		// TODO: systematize color
		--badge-color: #73c57e;
	}

	+ .badge {
		margin-inline-start: 0.2em;
	}
}
