*,
::before,
::after {
	box-sizing: border-box;
}

:host {
	display: flex;
	flex-direction: column;
	gap: var(--clean-progress-bar__markers-vertical-gap, .25rem)
}

$fill: var(--clean-progress-bar_completion, 0%);
$fill-color: var(--clean-progress-bar_complete-color, var(--dark));
$unfill-color: var(--clean-progress-bar_incomplete-color, var(--light));

#progress {
	height: var(--clean-progress-bar__bar_height, 1.5rem);
	border: var(--clean-progress-bar__bar_border-width, 0.125rem) solid
		var(--clean-progress-bar__bar_border-color, var(--dark));
	display: flex;
	overflow: hidden;
	position: relative;
	background: #{$fill-color};

	&::after {
		content: "";
		position: absolute;
		background-color: #{$unfill-color};
		inset: 0;
		inset-inline-start: calc(#{$fill}  - var(--offset, 0%));
		transition: inset-inline-start var(--clean-progress-bar__bar_fill-transition, 0.5s);
	}
}

#markers {
	display: flex;
	justify-content: space-between;
}

::slotted([slot="marker"]) {
	flex: 1 100%;
	text-align: center;
}
