<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="../../../playground/components/wrapper/PlaygroundWrapper.component.ts" type="module"></script>
		<link rel="stylesheet" href="../../../playground/playground.scss" />
	</head>
	<body>
		<playground-wrapper component-name="Slider">
			<script src="./Slider.component.ts" type="module"></script>

			<h2>Basic Examples</h2>
			<h3>Mutiple Sliders</h3>
			<figure>
				<figcaption>Several sliders displayed as a group using grid.</figcaption>
				<div class="fig-content-wrapper">
					<div style="display: flex; gap: 0.5rem">
						<clean-slider
							style="--slider-primary-color: #f00; --slider-thumb-color: #6b0000"
							value="50"
							label="Red"
						></clean-slider>
						<clean-slider
							style="--slider-primary-color: #060; --slider-thumb-color: #0f0"
							label="Green"
						></clean-slider>
						<clean-slider
							style="--slider-primary-color: #00f; --slider-thumb-color: #8f8fff"
							label="Blue"
						></clean-slider>
						<clean-slider max="1" step="0.01" label="Alpha" value="1"></clean-slider>
					</div>
				</div>
			</figure>

			<h3>Full width</h3>
			<figure>
				<figcaption>A slider taking up the whole width of it's parent.</figcaption>
				<div class="fig-content-wrapper">
					<clean-slider label="Score" max="100"></clean-slider>
				</div>
			</figure>

			<h2>Properties and Attributes</h2>
			<p>In the case of the <code>clean-slider</code> the attributes and properties line up cleanl</p>
			<dl>
				<dt><code>value</code></dt>
				<dd>The value of the slider inputs.</dd>
				<dd class="badge number">number</dd>
				<dd class="badge matching">matching attribute</dd>
				<dt><code>min</code></dt>
				<dd>The minimum of the slider inputs.</dd>
				<dd class="badge number">number</dd>
				<dd class="badge reflect">reflected</dd>
				<dd class="badge matching">matching attribute</dd>
				<dt><code>max</code></dt>
				<dd>The max of the slider inputs.</dd>
				<dd class="badge number">number</dd>
				<dd class="badge reflect">reflected</dd>
				<dd class="badge matching">matching attribute</dd>
				<dt><code>step</code></dt>
				<dd>The step for the slider inputs.</dd>
				<dd class="badge number">number</dd>
				<dd class="badge reflect">reflected</dd>
				<dd class="badge matching">matching attribute</dd>
				<dt><code>label</code></dt>
				<dd>The label for the slider.</dd>
				<dd class="badge string">string</dd>
				<dd class="badge matching">matching attribute</dd>
			</dl>

			<!-- I dunno if it makes sense to have the attributes here seeing as how they match the props... 
				gonna leave this for now because I'll probably go back and forth on it. -->
			<!-- <h2>Attributes</h2>
			<dl>
				<dt><code>value</code></dt>
				<dd>An inital or new value for the slider inputs.</dd>
				<dt><code>min</code></dt>
				<dd>An inital or new minimum for the slider inputs.</dd>
				<dd class="badge">reflected</dd>
				<dt><code>max</code></dt>
				<dd>An inital or new max for the slider inputs.</dd>
				<dd class="badge">reflected</dd>
				<dt><code>step</code></dt>
				<dd>An inital or new step for the slider inputs.</dd>
				<dd class="badge">reflected</dd>
				<dt><code>label</code></dt>
				<dd>The label for the slider.</dd>
			</dl> -->

			<h2>Styling</h2>
			<h3>Colors</h3>
			<p>The following CSS Custom Properties are available for styling.</p>

			<dl>
				<dt><code>--slider-primary-color</code></dt>
				<dd>Sets the filled background color of the slider track.</dd>
				<dd>Defaults to <code>#000</code></dd>
				<dt><code>--slider-thumb-color</code></dt>
				<dd>Sets the fill color of the slider thumb</dd>
				<dd>Defaults to <code>#949494</code></dd>
				<dt><code>--slider-unfilled</code></dt>
				<dd>Sets the unfilled background color of the slider track.</dd>
				<dd>Defaults to <code>transparent</code></dd>
				<dt><code>--slider-border-color</code></dt>
				<dd>Sets the border color for the slider track and the thumb.</dd>
				<dd>Defaults to the value of <code>--slider-primary-color</code></dd>
			</dl>

			<h3>Parts</h3>
			<p>The following <code>::parts</code> are exposed:</p>
			<dl>
				<dt>
					<code>label</code>
				</dt>
				<dd>Targets the <code>label</code> element.</dd>
				<dt>
					<code>input</code>
				</dt>
				<dd>Targets both <code>input</code> elements.</dd>
				<dt>
					<code>number</code>
				</dt>
				<dd>Targets only the <code>input[type="number"]</code> element.</dd>
				<dt>
					<code>range</code>
				</dt>
				<dd>Targets only the <code>input[type="range"]</code> element.</dd>
			</dl>

			<h3>Layout</h3>
			<p>
				In addition to the default stacked layout, a horizontal/in-line layout is available. It can be used by:
			</p>
			<ul>
				<li>Using the <code>in-line</code> boolean attribute on the element.</li>
				<li>If you're using SCSS, you can use <code>@mixin inline-structure;</code> to recreate the layout.</li>
			</ul>
			<figure>
				<figcaption>
					An inline slider, accomplished by adding an <code>in-line</code> boolean attribute.
				</figcaption>
				<div class="fig-content-wrapper">
					<clean-slider
						in-line
						label="Little Pigs"
						max="3"
						value="3"
						style="
							--slider-primary-color: #f7bfb5;
							--slider-thumb-color: #e68ca2;
							--slider-border-color: #000;
						"
					></clean-slider>
				</div>
			</figure>

			<h2>Events</h2>
			<p>
				The slider emits an <code>update</code>
				<a href="https://developer.mozilla.org/en-US/docs/Web/Events/Creating_and_triggering_events"
					>custom event</a
				>.
			</p>

			<p>Contents of the <code>event.detail</code> property of the <code>update</code> event.</p>
			<dl>
				<dt><code>slider</code></dt>
				<dd>A reference to the slider.</dd>
				<dt><code>value</code></dt>
				<dd>The value of the slider as of the event.</dd>
			</dl>

			<p>The body on this page has a <code>update</code> listener attached that will log to the console every time a slider changes.</p>

			<script>
				document.body.addEventListener('update',console.log)
			</script>
		</playground-wrapper>
	</body>
</html>
