<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="../../../playground/components/wrapper/PlaygroundWrapper.component.ts" type="module"></script>
		<link rel="stylesheet" href="../../../playground/playground.scss">
	</head>
	<body>
		<playground-wrapper component-name="Slider">
			<script src="./Slider.component.ts" type="module"></script>

			<h2>Examples</h2>
			
			
			<figure>
				<figcaption>Several sliders displayed as a group using grid.</figcaption>
				<div class="fig-content-wrapper">
					<div style="display: flex; gap: 0.5rem">
						<clean-slider
							style="--slider-primary-color: #f00; --slider-thumb-color: #6b0000"
							value="50"
							name="red"
						></clean-slider>
						<clean-slider
							style="--slider-primary-color: #060; --slider-thumb-color: #0f0"
							name="green"
						></clean-slider>
						<clean-slider
							style="--slider-primary-color: #00f; --slider-thumb-color: #8f8fff"
							name="blue"
						></clean-slider>
						<clean-slider max="1" step="0.01" name="alpha" value="1"></clean-slider>
					</div>
				</div>
			</figure>

			<h2>Full width</h2>
			<figure>
				<figcaption>A slider taking up the whole width of it's parent.</figcaption>
				<div class="fig-content-wrapper">
					<clean-slider name="Score" max="100"></clean-slider>
				</div>
			</figure>

			<h2>Attributes</h2>
			<!-- TODO: document this -->
			<p>Coming soon™️</p>

			<h2>Styling</h2>
			<p>
				The color of the slider can be customized by setting the <code>--slider-primary-color</code> and
				<code>--slider-thumb-color</code> custom properties.
			</p>

			<h2>Events</h2>
			<p>
				The slider emits an <code>update</code> custom event. To access the new value, check the
				<code>event.detail.value</code> property.
			</p>

			<figure>
				<figcaption>
					Adjust the slider to view the stringified <code>event.details</code> object, or check the console to
					see the whole event.
				</figcaption>

				<div class="fig-content-wrapper">
					<clean-slider name="SliderName" max="50" id="event-slider" style="width: 10rem"></clean-slider>
					<code id="event-output" style="display: block; padding: 1.5rem 0"> Event not yet triggered. </code>
				</div>

				<script>
					const codeBlock = document.querySelector("#event-output");
					document.querySelector("#event-slider").addEventListener("update", event => {
						console.log(event);
						codeBlock.textContent = `event.detail: ${JSON.stringify(event.detail)}`;
					});
				</script>
			</figure>
		</playground-wrapper>
	</body>
</html>
